#canvas1 {
    width: 447px;
    height: 305px;
    background-color: aliceblue;
    position: absolute;
}

#canvas2 {
    width: 500px;
    height: 500px;
    background-color: beige;
}

#canvas3 {
    width: 400px;
    height: 400px;
    background-color: blanchedalmond;
}